# File formats to ignore
*.zip
*.png
*.fits
*.gif
*.sh
*.mp4
*.pyc
*.tex
*.csv
*.pdf

# Specific files to ignore
miscellaneous.ipynb
plots.ipynb
plots-Copy1.ipynb
tic395130640.ipynb
flux2mag_conversion_check.ipynb
offset_between_tpf_ffi.ipynb
testing_grounds.ipynb
check_xy_order.ipynb
playing_around.ipynb
# directories to ignore
generated_plots/
.ipynb_checkpoints/
summary_plots/
TIC176956893/
build/
dist/
tess_cpm.egg-info/
