# File formats to ignore
*.zip
*.png
*.fits
*.gif
*.sh
*.mp4
*.pyc
*.tex
*.csv
*.pdf
*.pdf#

# Specific files to ignore
miscellaneous.ipynb
plots.ipynb
plots-Copy1.ipynb

# directories to ignore
generated_plots/
.ipynb_checkpoints/
summary_plots/
TIC176956893/
build/
dist/
tess_cpm.egg-info/
