name: Tests

on:
  push:
    branches: [ master, github-actions ]  # FIXME
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -e .
    - name: Test package import
      run: python -c 'import tess_cpm'
    - name: Test executing notebook
      run: |
        python -m pip install nbconvert
        jupyter nbconvert --to notebook --execute intro-tess_cpm.ipynb
